body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.42;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  background: #5973b1;
  color: white;
  margin-bottom: 13px;
}

.container {
  margin: 0 auto;
  width: 1100px;
  position: relative;
}

.header__container {
  height: 77px;
}

 

.logo {
  position: absolute;
  top: 10px;
  left: 0;
}

.contacts {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
}

.contacts__phone {
  color: inherit;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
}

.contacts__workhours {
  font-size: 14px;
  font-weight: 700;
  opacity: .7;
}

.menu__list {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
}

.sidebar, .content  {
  display: inline-block;
  vertical-align: top;
}


.sidebar {
  width: 230px;
}

.airplane__cover-pic {
  display: block;
}

.latestnews__avatar-frame {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

/* менюшка. отступ */
.menu__item {
  padding-top: 15px;
}

.menu__link {
  color: #5972b1;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.4px;
}

.menu__link:hover {
  color: black;
}

.menu__link:before {
  content: "";
  display: inline-block;
  margin-right: 13px;
  width: 23px;
  height: 18px;
  background: left center / contain no-repeat;
}



.menu__item--active .menu__link {
  color: black;
}

.menu__item--icon--main .menu__link:before {
  background-image: url('./img/icons/menu/main.png');
}

.menu__item--icon--main .menu__link:hover:before {
  background-image: url('./img/icons/menu/main-hover.png');
}

.menu__item--icon--feed .menu__link:before {
  background-image: url('./img/icons/menu/feed.png');
}

.menu__item--icon--feed .menu__link:hover:before {
  background-image: url('./img/icons/menu/feed-hover.png');
}

.menu__item--icon--team .menu__link:before {
  background-image: url('./img/icons/menu/team.png');
}

.menu__item--icon--team .menu__link:hover:before {
  background-image: url('./img/icons/menu/team-hover.png');
}

.menu__item--active.menu__item--icon--main .menu__link:before {
  background-image: url('./img/icons/menu/main-hover.png');
}

.menu__item--active.menu__item--icon--feed .menu__link:before {
  background-image: url('./img/icons/menu/feed-hover.png');
}

.menu__item--active.menu__item--icon--team .menu__link:before {
  background-image: url('./img/icons/menu/team-hover.png');
}


/* Шрифты */
.title {
  font-size: 49px;
}

.tariffs__title {
  font-size: 11px;
  text-transform: uppercase;
  
}

.tariffs__cost {
  font-size: 54px;
}


.latestnews__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
}



/* Тарифы */

.tariffs__item {
  display: inline-block;
  text-align: center;
  width: 185px;
  height: 365px;
} 

.tariffs__avatar {
  display: block;
  display: inline-block;
  position: relative;
  width: 68px;
  height: 68px;
}

.tariffs__avatar-mini {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* бордер в тарифы */
.tariffs__item-border {
  border: 2px solid #e8e8ec;
  width: 250px;
  height: 450px;
  padding-top: 40px;
}

/* отступ текста от картинки */
.latestnews__content {
  padding-left: 10px;
}

.latestnews__avatar, .latestnews__content{
  display: inline-block;
}

.latestnews__item {
  border: 1px solid #f9f9f9;
  border:none 
}

hr {
  border: none;
  background-color: #f4f4f4; 
  height: 1px;
 }

 

.latestnews__content {
  text-align: left;
  width: 644px;
  height: 164px;
}

/* стилизация маркировка */
.tariffs__content-ul {
  text-align: left;
  list-style: disc; 
}



/* Стилизация доллара */
.tariffs__cost {
  display: inline;
}

.tariffs__cost-mod {
  font-size: 30px;
}


/* pagination */
.pagination {
  text-align: center;
  margin: 29px
}


.pagination__item, .pagination__display, .pagination__controlls, .pagination__list, .pagination__link, .pagination__left, .pagination__right  {
  display: inline-block;
  text-decoration: none;
}
  
  .pagination__title {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #7c7b7b;
      margin-right: 18px;
  }
  
  .pagination__btn {
      display: inline-block;
      text-decoration: none;
      vertical-align: middle;
      color: #221f1f;
  }
  
  .pagination__btn_prev {
      margin-right: 9px;
  }
  
  .pagination__btn_next {
      margin-left: 9px;
  }
  
  .pagination__btn_active {
      color: #bebdbd;
  }
  
  .pagination__list {
      display: inline-block;
      vertical-align: middle;
  }
  
  .pagination__item {
      display: inline-block;
      vertical-align: middle;
  }
  
  .pagination__link {
      text-decoration: none;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      display: block;
      font-size: 14px;
      color: #221f1f;
      transition: .3s;
  }
  
  .pagination__link:hover {
      color: #ffffff;
      background-color: #5972b1;
      border-radius: 3px;
  }
  
  .pagination__item_active .pagination__link {
      color: #ffffff;
      background-color: #5972b1;
      border-radius: 3px;
  }





/* footer */

.footer {
  background: #5973b1;
  color: white;
  padding: 10px 0;
}

/* выравнивание элементов футера */
.footer__col_first, .footer__col_mid, .footer__col_last, .logo-footer{
  display: inline-block;
  width: 33%;
}



.footer__col_last {
  padding: 0px 0px 0px 170px;
}

.footer__col_mid {
  text-align: center;
}

/* Иконка в иконке соц. сеть */
.socials__item {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.socials__avatar-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.tariffs__content-ul-mod {
  list-style: disc;
}

.tariffs__item {
  padding-left: 25px;
}


/* тест иконок соцсетей*/
/* .socials__link:before {
  content: "";
  display: inline-block;
  margin-right: 13px;
  width: 23px;
  height: 18px;
  background: left center / contain no-repeat;
}


.menu__item--active .socials__link {
  color: black;
}

.socials__item--icon--vkontakte .socials__link:before {
  background-image: url('./img/icons/social/vk.png');
}

.socials__item--icon--vkontakte .socials__link:hover:before {
  background-image: url('./img/icons/menu/main-hover.png');
}

.socials__item--icon--facebook .socials__link:before {
  background-image: url('./img/icons/menu/feed.png');
}

.socials__item--icon--facebook .socials__link:hover:before {
  background-image: url('./img/icons/menu/feed-hover.png');
}

.socials__item--icon--twitter .socials__link:before {
  background-image: url('./img/icons/menu/team.png');
}

.socials__item--icon--vkontakte .socials__link:hover:before {
  background-image: url('./img/icons/menu/team-hover.png');
}

.menu__item--active.menu__item--icon--main .socials__link:before {
  background-image: url('./img/icons/menu/main-hover.png');
}

.menu__item--active.menu__item--icon--feed .socials__link:before {
  background-image: url('./img/icons/menu/feed-hover.png');
}

.menu__item--active.menu__item--icon--team .socials__link:before {
  background-image: url('./img/icons/menu/team-hover.png');
} */
